*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100%;
    background: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecera{
    width: 100%;
    height: 4.5em;
    background: rgb(3, 11, 62);
    padding: 0.5em 1em;
    
}
.cabeceraLink{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: rgb(253, 251, 251);
    font-size: 2em;
    font-weight: 600;
}
.cabeceraImg{
    width: 5%;
    margin-right:10px;
}
/* <!-- seccion 1 banner --> */
.navegacion{
    width: 100%;
    height: 4em;
    background: rgb(5, 0, 22);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navegacion a{
    color: antiquewhite;
    font-size: 1.2em;
    margin: 2em 2em;
    text-decoration: none;
}
.navegacion a:hover{
    color:rgb(223, 217, 43);
    transition: 0.5s;
}
/* <!-- seccion 2 --> */
.banner{
    width: 80%;
    height: calc(100vh - 8.5em);
    background-image: url(../img/imgppal.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: rgb(20, 11, 1);
}
.banner h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 6em;
    color:rgb(10, 10, 10);
    text-shadow:2px -2px 1px #faf8f8;
}
.banner h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align:center;
    color: #080808;
    background: #fbf9f9;
    letter-spacing: 0;
}

/* <!-- seccion 2 --> */
.section_2{
    width: 80%;
    height: 100vh;
    background: rgb(255, 2255, 255);
    display: flex;
    flex-direction: row;
}

.bloqueIzq{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    padding: 1em;

}    
.izqImg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.izqImg img{
    object-fit: cover;
    width: 90%;
    border-radius: 2%;
}
.bloqueDer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.dertitulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}
.derecService{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.derecImg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.dertitulo h2{
    font-size: 2rem;
}
.derecTexto{
    margin-left: 0.5em;
}
.derecTexto p{
    margin-top: 0.5em;
    font-size: 1.5em;
}
.derecTexto h4{
    font-size: 32px;
}
.servicios{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
.servicios a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    padding: 0.2em;
}
   
/* <!-- seccion 3 --> */
.cajappal{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(203, 246, 246);
}

.redes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.redes h3{
    font-size: 1.25em;
}
.logos{
    font-size: 1em;
    padding: 0.5em;
}

aside{
    width: 40%;
    height: 100vh;
}
.mapa{
    width: 100%;
    height: 35%;
    background: gray;
}
.lasVegas{
    width: 100%;
    height: 100%;
    border: 0;
}
.textartmap{
    width: 100%;
    height: 65%;
    background-color: rgb(1, 8, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start ;
    padding: 1em;
}
.textartmap h3{
    color: aliceblue;
    margin-top: 1em;
    margin-left: 1em;
}
.textartmap p{
    color: rgb(174, 182, 188);
    margin-top: 1em;
    margin-left: 1em;
}
.formulario{
    width: 100%;
    height: auto%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* margin-top: 0.5em;
    margin-left: 2em;
    padding:0.5em 2em; */
}
.input{
    width: 100%;
    height: 2.5em;
    margin: 2px 0;
    outline: none;
    font-size: 0.87rem;
    margin-top: 1em;
}
.textarea{
    width: 100%;
    height: 4.5em;
    margin: 2px 0;
    outline: none;
    resize: none;
    font-size: 0.87rem;
    margin-top: 1em;
    margin-bottom: -0.5em;
}
.submit{
    width: 45%;
    height: 2.18rem;
    margin: 2px 0;
    background-color: rgb(239, 67, 10);
    color: aliceblue;
    border-radius: 0.8em;
    margin-top: 1em;
    font-size: 0.87rem;
}

footer{
    width: 100%;
    height: 2em;
    background: rgb(85, 16, 16);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}
footer a{
    color:bisque;
    text-decoration: none;
}



@media (max-width: 800px){
    .cabecera{
        width: 100%;
        height: 2.5em;
        background: rgb(3, 11, 62);
        padding: 0.5em 1em;
    }
    .cabeceraLink{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        color: rgb(253, 251, 251);
        font-size: 1.5em;
        /* font-weight: 600; */
    }
    .cabeceraImg{
        width: 5%;
        margin-right:10px;
    }
    /* <!-- seccion 1 banner --> */
    .navegacion{
        width: 100%;
        height: 2em;
        background: rgb(5, 0, 22);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .navegacion a{
        color: antiquewhite;
        font-size: 1em;
        margin: 2em 2em;
        text-decoration: none;
    }
    .navegacion a:hover{
        color:rgb(223, 217, 43);
        transition: 0.5s;
    }
    /* <!-- seccion 2 --> */
    .banner{
        width: 100%;
        height: calc(100vh - 8.5em);
        background-image: url(../img/imgppal.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        color: rgb(20, 11, 1);
    }
    .banner h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2em;
        text-shadow:black;
        margin-top: 25rem;
    }
    .banner h2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        text-shadow:rgb(250, 238, 13);
    }
/* <!-- seccion 2 --> */
.section_2{
    width: 100%;
    height: 100vh;
    background: rgb(255, 2255, 255);
    display: flex;
    flex-direction: column;
}
.bloqueIzq{
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
}    
.izqImg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.izqImg img{
    object-fit: cover;
    width: 100%;
    /* border-radius: 2%; */
}
.bloqueDer{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.dertitulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0em;
}
.derecService{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.derecImg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.derecTexto h2{
    margin-left: 0.5em;
    margin-top: 0;
}
.derecTexto p{
    margin-top: 0.5em;
    font-size: 1em;
}
.derecTexto h4{
    font-size: 1rem;
}
.servicios a{
    margin-top: 0.1em;
    text-decoration: none;
    font-size: 1em;
    color: black;
    padding: auto;
}

    /* <!-- seccion3  --> */
.cajappal{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(203, 246, 246);
}

.redes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
}
.redes h3{
    font-size: 1.25em;
}
.logos{
    font-size: 1em;
    padding: 0.5em;
}

aside{
    width: 100%;
    height: 100%;
}
.mapa{
    width: 100%;
    height: 35%;
    background: gray;
}
.lasVegas{
    width: 100%;
    height: 100%;
    border: 0;
}
.textartmap{
    max-width:100%;
    max-height: 65%;
    background-color: rgb(1, 8, 6);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: start ;
    padding: 1em;
}
.textartmap h3{
    color: aliceblue;
    margin-top: 1em;
    margin-left: 1em;
}
.textartmap p{
    color: rgb(174, 182, 188);
    margin-top: 1em;
    margin-left: 1em;
}
.formulario{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    /* margin-top: 0.5em;
    margin-left: 2em;
    padding:0.5em 2em; */
}
.input{
    width: 100%;
    height: 2.5em;
    margin: 2px 0;
    outline: none;
    font-size: 0.87rem;
    margin-top: 1em;
}
.textarea{
    width: 100%;
    height: 4.5em;
    margin: 2px 0;
    outline: none;
    resize: none;
    font-size: 0.87rem;
    margin-top: 1em;
    margin-bottom: -0.5em;
}

/* .input, .textarea {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */

.submit{
    width: 45%;
    height: 2.18rem;
    margin: 2px 0;
    background-color: rgb(239, 67, 10);
    color: aliceblue;
    border-radius: 0.8em;
    margin-top: 1em;
    font-size: 0.87rem;
}

footer{
    width: 100%;
    height: 9em;
    background: rgb(85, 16, 16);
    color: antiquewhite;
}
 .footercopy{
    margin-top: auto;
    color:antiquewhite;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

}